
.tittle{
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.subtittle{
    margin-left: 6rem;
    margin-top: -0.4rem;
    font-size: 0.6rem;
}
.image{
    margin-left: 11rem;
    margin-top: -2.5rem;
    z-index: 100;
    rotate: 30deg;
  

  
}


@media (max-width: 768px) {
    .tittle{
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 0rem;
        margin-top: 0.3rem;
    }

    .subtittle{
        margin-left: 5rem;
       margin-top: -0.3rem;
        font-size: 0.6rem;
    }
    .image{
        margin-left: 10rem;
        margin-top: -2.5rem;
        z-index: 100;
        rotate: 30deg;   
      
    }

}