
.title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;

}


.subtitle{
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff; 
    margin-top: -1rem;
    margin-left: 6rem;
   
}

@media screen and (max-width: 768px){
    .title{
        font-size: 1.2rem;
        font-weight: 500;
        color: #fff;
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    
    
    }
    
    
    .subtitle{
        font-size: 0.8rem;
        font-weight: 500;
        color: #fff; 
        margin-top: -1rem;
        margin-left: 6rem;
       
    }
}